.footer-container {
  margin-top: 3.5rem;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  &__content {
    font-size: 14px;
    font-weight: 400;

    a {
      text-decoration: underline;
    }
  }
}