.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  margin-bottom: 4rem;
  @include respond(phone) {
    margin: 0 1rem 2rem;
  }

  &__logo {
    height: 60px;
    object-fit: contain;
  }

  &__menu {
    cursor: pointer;
    z-index: 11;
    @include respond(phone) {
      font-size: 2rem !important;
    }
  }
}

