.single-view {
  &__image {
    align-self: center;

    img {
      width: 100%;
      max-height: 500px;
      object-fit: contain;
    }
  }

  &__content {
    
    &:not(:first-child) {
    margin-top: 3rem;
    }

    p {
      font-size: 16px;
    }
  }
}