.skills {
  text-align: center;
  transition: transform 500ms ease-in-out;
  background-color: #e5eaf4;
  border-radius: 5px;
  flex: 1;
  margin: 1rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

  &__text {
  padding: 2rem;
    text-align: left;
    @include respond(phone) {
      text-align: center;
    }

    p {
      font-size: 16px;
    }
  }

  &__image {
    padding-top: 1rem;
  }

  &__span {
    font-size: 14px;
    font-weight: 700;
  }

  &:hover {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

    @include respond(phone) {
      box-shadow: none;
    }
  }
}