html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  position: relative;
  height: 100%;
  // background-color: #e8effc;
  background-color: #f4f7f9;
  .scroll-block {
    overflow: hidden;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: initial;
}

* {
  box-sizing: border-box;
}

h1 {
  font-weight: 700;
  font-size: 4rem;
  @include respond(phone) {
    font-size: 2.5rem;
  }
}

h2 {
  font-weight: 700;
}

h3 {
  font-weight: 600;
  font-size: 1em;
}

h4 {
  font-size: 1em;
}

p {
  font-weight: 300;
  font-size: 20px;
}

.vision {
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.work {
  &__image {
    height: 100px;
    width: auto;
    object-fit: contain;
  }
}

.stack {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 2rem 0;

  @include respond(phone) {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  &__container {
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 5px 30px -15px rgba(0,0,0,.2);
    display: flex;
    align-content: center;
    cursor: pointer;

    &:hover > img {
      filter: grayscale(0);
    }

    @include respond(phone) {
      flex: 1 0 21%;
      margin: 5px;
      justify-content: center;
    }
  }

  img {
    filter: grayscale(100%);
    transition: filter 500ms ease-in-out;
  }
}
